name: Bump development version

on:
  workflow_dispatch:


jobs:
  new_version:
    if: github.repository == 'nbaars/paseto4j'
    name: Update to next SNAPSHOT version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 11
          architecture: x64

      - name: Set version to next snapshot
        run: |
          mvn build-helper:parse-version versions:set -DnewVersion=\${parsedVersion.majorVersion}.\${parsedVersion.nextMinorVersion}-SNAPSHOT versions:commit

      - name: Push the changes to new branch
        uses: devops-infra/action-commit-push@v0.11.0
        with:
          github_token: "${{ secrets.GITHUB_TOKEN }}"
          add_timestamp: true
          commit_message: "chore: update to the new development version"
          force: false

      - name: Create PR
        uses: devops-infra/action-pull-request@v0.6.0
        with:
          github_token: "${{ secrets.GITHUB_TOKEN }}"
          title: "Update to new development version"
          target_branch: main