name: "Release"
on:
  push:
    tags:
      - '*'
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    environment:
      name: release
    steps:
      - uses: actions/checkout@v3

      - name: "Get tag name"
        id: tag
        uses: dawidd6/action-get-tag@v1

      - name: Setup Maven Central Repository
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11
          architecture: x64
          server-id: ossrh
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD

      - name: "Set labels for ${{ github.ref }}"
        run: |
          echo "PASETO_MAVEN_VERSION=${{ steps.tag.outputs.tag }}" >> $GITHUB_ENV

      - name: Install gpg secret key
        run: |
          echo -n "${{ secrets.OSSRH_GPG_SECRET_KEY }}" | base64 --decode | gpg --batch --import
          gpg --list-secret-keys --keyid-format LONG

      - name: Publish to Maven Central
        run: |
          mvn --no-transfer-progress versions:set -DnewVersion=${{ env.PASETO_MAVEN_VERSION }}
          mvn --batch-mode --no-transfer-progress -P release -Dgpg.passphrase=${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }} clean deploy -DskipTests
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
      - name: "Create release"
        uses: softprops/action-gh-release@v1
        with:
          draft: false
          body: |
            ## Version ${{ steps.tag.outputs.tag }}

            ### New functionality

            - Moved to using Tuweni library instead of Cava
            - Moved to Maven
            - Update libaries which were marked by dependabot
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  new_version:
    if: github.repository == 'nbaars/paseto4j'
    name: Update to next SNAPSHOT version
    needs: [ release ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11
          architecture: x64

      - name: Set version to next snapshot
        run: |
          mvn build-helper:parse-version versions:set -DnewVersion=\${parsedVersion.majorVersion}.\${parsedVersion.nextMinorVersion}-SNAPSHOT versions:commit
      - name: Push the changes to new branch
        uses: devops-infra/action-commit-push@v0.9.2
        with:
          github_token: "${{ secrets.GITHUB_TOKEN }}"
          add_timestamp: true
          commit_message: "Updating to the new development version"
          force: false

      - name: Create PR
        uses: devops-infra/action-pull-request@v0.5.5
        with:
          github_token: "${{ secrets.GITHUB_TOKEN }}"
          title: ${{ github.event.commits[0].message }}
          target_branch: main